.list>div {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: calc(0.25vw + 0.25vh);
    height: 33%;
    width: 33%;
}

.list>div>div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}