#footer {
    padding-bottom: 1rem;
    min-height: 100vh;
    text-align: center;
    z-index: 5;
}

#footer h1 {
    font-size: 2em;
}

#footer h2 {
    font-size: 1em;
}

#footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#footer p {
    font-size: .6em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#footer section>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer section>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .3rem;
}

#footer #contacts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#footer .page-content {
    position: fixed;
    pointer-events: none;
    top: 0;
    height: 100%;
    display: flex;
}