.word-cloud-container {
    width: 80vw;
    max-width: 400px;
    height: 400px;
    margin: auto;
}

.word-cloud-group {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -25%);
}

.word {
    position: absolute;

    white-space: nowrap;
    /* Center each word relative to its computed position */
    /* transform: translate(-50%, -50%); */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}