@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HanYiWenHei;
    src: url('./SourceHanSansSC-Light.otf');
}

@font-face {
    font-family: Genshin;
    src: url('./zh-cn.ttf');
}

@font-face {
    font-family: Bitter;
    src: url('./Bitter-Regular-5.otf');
}

@font-face {
    font-family: NeonSans;
    src: url('./NeonSans.woff2');
}

@font-face {
    font-family: emoji;
    src: url('./OpenMoji-color-colr0_svg.woff2');
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    /* font-family: HanYiWenHei; */
}

*,
*:after,
*:before {
    box-sizing: border-box;
}